/* SCSS HEX */

/* color specifications */
$rich-black-fogra-29: #010a13ff;
$prussian-blue: #052f5fff;
$blue-sapphire: #005377ff;
$green-munsell: #06a77dff;
$dark-khaki: #d5c67aff;

/* color shortcuts */
$black: $rich-black-fogra-29;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #010a13ff, #052f5fff, #005377ff, #06a77dff, #d5c67aff);
$gradient-right: linear-gradient(90deg, #010a13ff, #052f5fff, #005377ff, #06a77dff, #d5c67aff);
$gradient-bottom: linear-gradient(180deg, #010a13ff, #052f5fff, #005377ff, #06a77dff, #d5c67aff);
$gradient-left: linear-gradient(270deg, #010a13ff, #052f5fff, #005377ff, #06a77dff, #d5c67aff);
$gradient-top-right: linear-gradient(45deg, #010a13ff, #052f5fff, #005377ff, #06a77dff, #d5c67aff);
$gradient-bottom-right: linear-gradient(135deg, #010a13ff, #052f5fff, #005377ff, #06a77dff, #d5c67aff);
$gradient-top-left: linear-gradient(225deg, #010a13ff, #052f5fff, #005377ff, #06a77dff, #d5c67aff);
$gradient-bottom-left: linear-gradient(315deg, #010a13ff, #052f5fff, #005377ff, #06a77dff, #d5c67aff);
$gradient-radial: radial-gradient(#010a13ff, #052f5fff, #005377ff, #06a77dff, #d5c67aff);
